{
    "plugins": ["dynamic-import-webpack"],
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 1 version", "ie >= 11"]
                }
            }
        ]
    ]
}
